@import "tailwindcss";

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(99, 102, 241, 0.3); /* indigo-500/30 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}